<% form_for :detail do |r| %>
  <tr>
  <td><%= '================================================================================' %></td>
  </tr>
  <tr>
    <td><%= r.text_field(:column_1) %><%= r.text_field(:column_2) %><%= r.text_field(:column_3) %><%= r.text_field(:column_4) %><%= r.text_field(:column_5) %><%= r.text_field(:column_6) %><%= r.text_field(:column_7) %><%= r.text_field(:column_8) %><%= r.text_field(:column_9) %></td>
  </tr>
<% end %>