  <tr>
  <td><%= '================================================================================' %></td>
  </tr>
  <tr>
    <td><%= f.text_field :column_1 %><%= f.text_field :column_2 %><%= f.text_field :column_3%><%= f.text_field :column_4 %><%= f.text_field :column_5 %><%= f.text_field :column_6 %><%= f.text_field :column_7 %><%= f.text_field :column_8 %><%= f.text_field :column_9 %></td>
  </tr>