<h1>Listing sudoku detail</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>

<% @sudokus.each do |sudoku| %>
  <tr>
    <td><%= sudoku.id %></td>
    <td><%= sudoku.name %></td>
  </tr>
  <tr
    <td><%= link_to 'Show', sudoku %></td>
    <td><%= link_to 'Edit', edit_detail_path(sudoku) %></td>
    <td><%= link_to 'Destroy', sudoku, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sudoku Detail', new_detail_path %>